{% extends 'base.html' %} <-- inherit the general template
{% load static %}
 
{% block content %}
    <div class= "row">
        <div class="col-sm">
            <table id="table_db" class="table table-bordered table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col">Suveyor</th>
                        <th scope="col">Water Used</th>
                        <th scope="col">Distance Covered</th>
                        <th scope="col">Gravel Used</th>
                        <th scope="col">Petrol Used Per Day</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody >
                    {% for record in survey_records %}
                        <tr>
                            <td>{{ record.auth_user }}</td>
                            <td>{{ record.water }}</td>
                            <td>{{ record.distance}}</td>
                            <td>{{ record.gravel }}</td>
                            <td>{{ record.petrol_per_day }}</td>
                            <td>{{ record.record_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
 
{% block js %} <-- page specific scripts
 
    Using Tables Saves you so much stress in this particular project, the down side is the limited design
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
     
    <script>
        $(document).ready(function () {
            $('#table_db').DataTable( {
                "paging": true,
                "searching": true,
                "autoWidth": false,
                "ordering": true,
                "columnDefs": [
                    {"width": "50px", "targets": 0},
                    {"width": "250px", "targets": 1},
                ],
            }
            );
        } );
    </script>
     
    <!-- Added this script to see if the page would recognize the items within block -->
    <script>
        window.onload = function() {
            if (window.jQuery) { 
                // jQuery is loaded 
                alert("Yeah!");
            } else {
                // jQuery is not loaded
                alert("Doesn't Work");
            }
        }
    </script>
{% endblock js %}